{% extends "layout.html" %}

{% block body %}
    <form action="/create-task" method="post">
        <input id="rid" name="registrant_id" type="text" placeholder="R Name">
        <input id="task" name="task_name" type="text" placeholder="Task Name">
        <input id="submit" type="submit" disabled>
    </form>

    <script>
        document.querySelector('#task').onkeyup = function() {
            if (document.querySelector('#task').value === '') {
                document.querySelector('#submit').disabled = true;
            } else {
                document.querySelector('#submit').disabled = false;
            }
        }
    </script>
{% endblock %}
