<!DOCTYPE html>
<html>
  <head>
    <title>Classify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon-->
    <link rel="icon" href="static/Images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Antonio:wght@300&display=swap" rel="stylesheet">
    
    <!--Personal Stylesheet-->
    <link href="static/main.css" rel="stylesheet">

    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <style>
    /**JUMBOTRON AND GENERAL STYLING**/
    .site-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .site-head h1 {
      font-family: 'Antonio', sans-serif;
      margin-left: 35%;
      font-size: 100px;
    }
    .site-head a {
      margin-top: 30px;
      margin-left: 35%;
    }

    .card-body p {
      font-size: 20px;
    }
    .down-arrow {
      margin-top: 3.5em;
    }
    .card1 { 
      background-color: #f9e8fb;
    }
    .card2 {
      background-color: #f9e0fc;
    }
    .card3 {
      background-color: #deb8e3;
    }
    span {
      padding: 0 10px 0 10px;
      
    }
    .card img {
      background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .image-card {
      
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.1),
                rgba(0, 0, 0, 0)
                ), url("static/Images/purple2.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        
        background-size: contain;
        
    }

    .overlay-content {
            background-color: #C88092;
            
            overflow: hidden;
            
            max-width: 50%;
            padding: 0 25px 0 20px;
            
        }

    /*To start virtual environent, do source venv/bin/activate
    and then python app.py to start localhost*/
  </style>

  <body>
    <script>
      AOS.init();
    </script>
    <div class = "text-center" > 
      <br>
      <nav class="navbar sticky-top navbar-expand-md">
          <div class="mx-auto d-block flex-wrap">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">

                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class = "nav-item">
                  <a class = "nav-link" href = "#">-</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class = "nav-item">
                  <a class = "nav-link" href = "#">-</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>

              </ul>
            </div>
          </div>
      </nav>
    </div>

    <div class = "jumbotron text-center" > 
      <div class = "card-deck container">
        <div  data-aos="fade-right" data-aos-duration="1000"  class = "card">
          <div class = "card-body site-head">
            <div class = "">
              <h1 class = "" >Classify</h1>
            </div>
            <div>
              <a href="https://devpost.com/software/classify-jpkd2q?ref_content=user-portfolio&ref_feature=in_progress" target = "_blank" class="btn btn-outline-dark">Join Today</a>
            </div>
            
          </div>
          
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class = "card">

          <img class = "img-fluid"  src ="static/Images/main.png">
        </div> 
      </div>
      
      <img class= "img-fluid down-arrow" width = "30" src = "static/Images/down.png">
    </div>

  <div class = "container">
    <div class = "card"> 
      <div class = "card-header">
        <div class = "card-title text-center">
            <h1><span style = "background-color: purple; color: white;"> A new way to learn </span></h1>
        </div>
      </div>
    </div>
    <!---------------------->
    <div data-aos="flip-up" data-aos-duration="1000"  class = "card-deck">
      <div class = "card card1">
        <div class = "card-body">
          <p>There are approximately 4.4 million children from ages 3-17 diagnosed with anxiety
            in the United States. The millions of school-aged children who experience anxiety
            often list school as one of the main causes. How can we reduce the burden schoolwork
            places on students?
          </p> 
        </div>
      </div>
    
    <!---------------------->
    
      <div class = "card card2">
        <div class = "card-body">
          <p>Everyone knows the age old scenario: there are 3 basic requirements for a 
            high school student's success --> good grades, a social life, and enough sleep. However,
            you can only pick two. With Classify, we're working to change that by creating a 
            <b>dynamic</b> scheduling service designed for and by students.
          </p> 
        </div>
      </div>
    <!---------------------->
    
      <div class = "card card3">
        <div class = "card-body">
          <p>Students can easily enter their daily information into a form. Then, Classify's 
            web application will generate a dynamic schedule for them - complete with timing, breaks,
            and auto-pauses for students to relax and stretch. We've incorporated timing functions
            in so students can track the time they've spent on each activity.
          </p> 
        </div>
      </div>
  </div>
  <br><br><br>

  <!--NEW SECTION HEADER-->
    <div class = "container">
      <div class = "card-deck">
        <div data-aos="fade-right" data-aos-duration="1000" class = "card"> 
            <div class = "card-header">
                <br>
                <div class = "card-title">
                  <h1><span style = "background-color: #dc91e1"> Welcome to Classify</span></h1>
                </div>
            </div>
            <div class = "">
                <div class = "card-body ">
                    <p class = "large-paragraph">
                      Classify has two components: a web application and a database login. Students 
                      can input assignments and information in a form on our web application, which has 
                      already been launched! Upon starting a new "study session," Classify will use 
                      scientifically proven methods of studying to help students
                       learn more effectively! We've also incorporated a database login system with tasks,
                       which you can test out by checking out our Github repository. 
                    </p>
                    
                    <a href="https://devpost.com/software/classify-jpkd2q?ref_content=user-portfolio&ref_feature=in_progress" target = "_blank" class="btn btn-lg btn-outline-dark">Check it out</a>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="card">
          <br>
          <img class = "img-fluid" src= "static/Images/purple1.png" width = "550">
        </div>
      </div>
    </div>

    <br><br><br>
  <!-- NEW SECTION WITH FORM-->
    <div data-aos="fade-in" data-aos-duration="1500" class = " container ">
      <div class = "card card1">
      <div class = "card-header">
          
          <div class = "card-title">
            
              <h2 style = "margin-top: 15px;">Fill out this form to get started</h2>
          </div>
      </div>
      <div class = "card-body">
          <div class = "container">
              <form name="MathCourse" id="form1" action="/welcome.html">
              
              <!--GRADE-->
              <div>
                  <h5>Please select your type of studying:</h5>
                  <hr>
                  <div class = "form-check" > 
                      <input type="radio" id="Review" name="Review" value = "Review" >
                      <label  for="Review">Reviewing or prepping for exam</label>
                      <br>
                      <input type="radio" id="Study" name="Study" value = "Study" >
                      <label  for="Study">Studying new material and content</label>
                      <br>
                      <input type="radio" id="Homework" name="Homework" value = "Homework" >
                      <label  for="Homework">Completing assigned homework</label>
                      <br>
                      <input type="radio" id="Project" name="Project" value = "Project" >
                      <label  for="Project">Working on a long-term project.</label>
                  </div>
              </div>
              <br>
              <div>
                <h5>Please select the priority:</h5>
                <hr>
                <div class = "form-check" > 
                    <input type="radio" id="High" name="High" value = "High" >
                    <label  for="High">High</label>
                    <br>
                    <input type="radio" id="Medium" name="Medium" value = "Medium" >
                    <label  for="Medium">Medium</label>
                    <br>
                    <input type="radio" id="Low" name="Low" value = "Low" >
                    <label  for="Low">Completing assigned homework</label>
                    
                </div>

                <div>
                  <h5>Please select the method of studying:</h5>
                  <hr>
                  <div class = "form-check" > 
                      <input type="radio" id="Pomodoro" name="Pomodoro" value = "Pomodoro" >
                      <label  for="Pomodoro">Pomodoro</label>
                      <br>
                      <input type="radio" id="20" name="20" value = "20" >
                      <label  for="20">20-20-20</label>
                      
                  </div>
                <br>
            </div>

              
              <!--ALERT AND BUTTONS-->
                
              <div class="alert alert-warning col-md-6 " role="alert">
                  You must click <strong>"Submit"</strong> 
                  each time you fill out this form. 
              </div>

              
              
              </form>
              <button class="btn btn-dark" onclick="setTimeout(myFunction, 3000)">Submit</button>
          </div>
      </div>
      </div>
      <br>
      <br>
  </div>
<br><br>

<!--ANOTHER SECTION-->
<div class = "container card-deck">
  <div data-aos="fade-right" data-aos-duration="1000" class  = "card image-card">
    
      
  </div>
  <div data-aos="fade-left" data-aos-duration="1000"class = "card text-center">

    <div class = "card-header" >
      <br>
      <div class= "card-title">
        <h1><span style = "background-color: purple; color: white;"> Results </span></h1>
      </div>
    </div>

    <div class = "card-body" >
      <div class = "background-color: lightpink">
        <p>AP CALCULUS AB: Homework #25</p>
        <p>AP ENGLISH LANGUAGE: Rhetorical Analysis Assignment</p>
        <p>AP PHYSICS: Take and grade Exam #102 provided on the agenda.</p>
        <br>
      </div>
        
        <h4>You're currently <b>STUDYING</b>.</h4>
        <p>We'll notify you with alerts every 20 minutes based on what you selected.</p>
    </div>
  </div>

      <script>
      function myFunction() {
        alert('It has been twenty minutes! The Pomodoro method of studying says that you should take a break now and stretch.');
      }
      </script>
  </div>
<br><br><br>
<footer class = "jumbotron jumbotron-footer text-center">
    
  <ul class="social list-inline">
              
      <li class="list-inline-item"><a href="mailto:forevergrace.15@gmail.com" class="social-link"><i class="fas fa-envelope fa-2x"></i></a></li>
      <!--<li class="list-inline-item"><a href="https://www.instagram.com/dhs.girlsmathassociation/" class="social-link"><i class="fab fa-instagram fa-3x"></i></a></li>-->
      <li class="list-inline-item"><a href="#"class= "social-link"><i class="fab fa-linkedin fa-2x"></i></a></li>
      <li class="list-inline-item"><a href="#" class="social-link"><i class="fas fa-share fa-2x"></i></a></li>

  </ul>
  <p class = "specialfont2" style = "color:black;">Created by Grace Liu and Ria Jain © 2021</p>
</footer>
  </body>
</html>
